footer {
  max-width: 1512px;
  min-height: 559px;
  background-color: rgba(33, 33, 33, 1);
}

.footer-block {
  max-width: 1120px;
  max-height: 543px;
  margin: 16px 196px 0px 196px;
}

.create-your-own-meetup-group {
  display: flex;
  max-width: 1120px;
  max-height: 69px;
  margin-top: 8px;
}

.create-your-own-meetup-group > p {
  max-width: 249.17px;
  max-height: 24px;
  margin-top: 34px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(246, 247, 248, 1);
}

.get-started-btn {
  min-width: 119px;
  min-height: 44px;
  margin-top: 24px;
  margin-left: 15.8px;
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

hr {
  border: none;
  max-width: 1120px;
  margin-top: 25px;
  border-top: 1px solid rgba(112, 112, 112, 1);
}

.site-map {
  display: flex;
  justify-content: start;
  gap: 25%;
  max-width: 1120px;
  max-height: 236px;
  margin-top: 24px;
}

.site-nav > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(246, 247, 248, 1);
}

.site-nav > a {
  display: flex;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 400px;
  line-height: 20px;
  color: rgba(197, 196, 196, 1);
  text-decoration: none;
}

.follow-us {
  display: flex;
  max-width: 1120px;
  max-height: 90px;
  margin-top: 24px;
}

.social-links {
  max-width: 391px;
  max-height: 90px;
}

.social-links > p {
  max-width: 71.48px;
  max-height: 24px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(246, 247, 248, 1);
}

.social-links > a {
  margin-right: 32px;
}

.app-stores-link {
  max-width: 367px;
  max-height: 40px;
  margin-top: 25px;
  margin-left: 483px;
}

.app-stores-link > a {
  margin-right: 22.17px;
}

.terms-and-policy {
  display: flex;
  max-width: 1120px;
  max-height: 28px;
  margin-top: 24px;
  /* margin-bottom: 40px; */
}

.terms-and-policy > p {
  margin-top: 8px;
  margin-right: 23.8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}

.terms-and-policy > a {
  margin-top: 8px;
  margin-right: 23.8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: rgba(197, 196, 196, 1);
}
