nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 15px 40px 15px 24px;
}

.search-panel {
  display: flex;
}

.search-bar {
  display: flex;
}

.search-bar > .left-search-bar input[type="text"] {
  margin-top: 11px;
  padding: 0px 101px 0px 37px;
  width: 100%;
  max-width: 300px;
  min-height: 42px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #d9d9d9;
  background-image: url("/JsProject/assets/images/searchIcon.svg");
  background-repeat: no-repeat;
  background-position: 12.75px;
  background-size: auto;
}

.search-location input[type="text"] {
  margin-top: 11px;
  padding: 13px 75px 13px 17px;
  width: 100%;
  max-width: 254px;
  height: 42px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-left: none;
}

.search-magnifier-red {
  width: 42px;
  height: 42px;
  margin-top: 11px;
  background-color: #f65858;
  border-radius: 0px 8px 8px 0px;
  background-image: url("/JsProject/assets/images/magnifierIconRedBtn.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.nav-btn {
  display: flex;
}

.language-selector select {
  padding-left: 30px;
  border: none;
  background-image: url("/JsProject/assets/images/lenguageGlobeIcon.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  margin-right: 22.03px;
  margin-top: 22px;
}

.logInBtn {
  min-width: 41.17px;
  height: 20px;
  margin-top: 22px;
  border: none;
  margin-right: 11.83px;
  background-color: transparent;
  cursor: pointer;
}

.signUpBtn {
  min-width: 83.13px;
  min-height: 36px;
  margin-top: 14px;
  background-color: #00798a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 393px) {
  .logo {
    margin: 4px 61px 4px 24px;
  }

  .search-bar {
    display: none;
  }

  .language-selector select {
    max-width: 62.34px;
    max-height: 17.09px;
    border: none;
    background-image: url("/JsProject/assets/images/lenguageGlobeIcon.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    margin: 12.83px 18.82px 12.08px 0px;
  }
}
