* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: 3826.5px;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  width: 1512px;
  height: 64px;
  /* background-color: #f0f0f0; */
  /* gap: 40px; */
}

.search-panel {
  display: flex;
  justify-self: start;
  width: 750.34px;
  height: 42px;
  top: 11px;
  margin-right: 470.66px;
}

.logo img {
  width: 94.34px;
  height: 34px;
  left: 24px;
  top: 15px;
  right: 40px;
  margin-left: 24px;
  margin-top: 4px;
  margin-right: 40px;
}

.search-bar input[type="text"] {
  padding-left: 37px;
  width: 300px;
  height: 42px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #d9d9d9;
  /* left: 158.34px; */
  background-image: url("/JsProject/assets/images/searchIcon.svg");
  background-repeat: no-repeat;
  background-position: 12.75px;
  background-size: auto;
}

.search-location input[type="text"] {
  padding: 8px;
  width: 254px;
  height: 42px;
  /* border-radius: 8px 0px 0px 8px; */
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-left: none;
  /* left: 158.34px; */
  /* background-image: url("/JsProject/assets/images/searchIcon.svg"); */
  /* background-repeat: no-repeat;
  background-position: 12.75px;
  background-size: auto; */
}

.search-magnifier-red {
  width: 42px;
  height: 42px;
  margin-right: 470.66px;
  background-color: #f65858;
  border-radius: 0px 8px 8px 0px;
  background-image: url("/JsProject/assets/images/magnifierIconRedBtn.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

/* .search-bar button {
  padding: 8px 12px;
  width: 83.13px;
  height: 36px;
  top: 14px;
  background-color: #00798a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
} */

.language-selector select {
  padding-left: 30px;
  border: none;
  background-image: url("/JsProject/assets/images/lenguageGlobeIcon.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  margin-right: 22.03px;
}

.signUpBtn {
  /* padding: 8px 12px; */
  width: 83.13px;
  height: 36px;
  top: 14px;
  background-color: #00798a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logInBtn {
  width: 41.17px;
  height: 20px;
  top: 22px;
  border: none;
  margin-right: 11.83px;
  background-color: transparent;
}

.meetup-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1196px;
  height: 461px;
  margin-left: 158px;
}

.meetup-info img {
  width: 379px;
  height: 269px;
  top: 96px;
  margin-right: 161.92px;
}

/* .meetup-text {
  flex: 1;
} */

.meetup-text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  width: 600.61px;
  height: 104px;
}

.meetup-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 608.93px;
  height: 72px;
  top: 226.5px;
  margin-top: 24.5px;
}

.meetup-text button {
  width: 125.28px;
  height: 40px;
  top: 322.5px;
  background-color: #00798a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  margin-top: 24px;
}

.top--events_near--section,
.next--events_upcoming--section {
  display: flex;
  margin-top: 24px;
  margin-left: 158px;
}

.top--events_near--section > h2 {
  width: 160.79px;
  height: 36px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-right: 7.8px;
}

.next--events_upcoming--section > h2 {
  width: 333.5px;
  height: 36px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-top: 40px;
  /* margin-right: 757.09; */
}

.events_near--section--location_search_input {
  background-image: url("/JsProject/assets/images/pen_icon--events_near--section.svg");
  background-repeat: no-repeat;
  background-position: 205.43px;
  width: 239.42px;
  height: 44px;
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.12);
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.top--events_near--section > input::placeholder {
  color: rgba(0, 121, 138, 1);
}

.all_events--link {
  margin-left: 682.58px;
  margin-top: 14px;
  width: 105.61px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 121, 138, 1);
}

.all-upcoming-events--link {
  margin-left: 757.09px;
  margin-top: 50px;
  width: 105.61px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 121, 138, 1);
}

.events-cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 272px);
  align-items: center;
  gap: 36px;
  margin-left: 158px;
  margin-top: 24px;
}

.upcoming-events--cards--grid {
  display: grid;
  grid-template-columns: repeat(4, 272px);
  align-items: center;
  gap: 36px;
  margin-left: 158px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.events-near--card--event {
  width: 272px;
  height: 399px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.events-near--card--event > img {
  width: 272px;
  height: 153px;
}

.events-near--card--event > h3 {
  width: 274px;
  padding-right: 54px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-wrap: wrap;
  margin-top: 12px;
}

.events-near--card--event > p {
  width: 242.17px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(112, 112, 112, 1);
}

.events-data {
  display: flex;
}

.events-data > img {
  width: 20px;
  height: 20px;
}

.events-data > p {
  width: 180px;
  height: 20px;
  margin-left: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.attendants--tickets {
  display: flex;
}

.attendants--tickets > img {
  width: 20px;
  height: 20px;
  margin-top: 12px;
}

.attendants {
  width: 62px;
  height: 24px;
  margin-top: 12px;
  margin-left: 6px;
  margin-right: 15.8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.tickets {
  width: 55.36px;
  height: 33.34px;
  margin-top: 12px;
  margin-left: 6px;
  margin-bottom: 74px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.join-meetup--low-section {
  width: 1192px;
  height: 1836.5px;
  margin-left: 158px;
  margin-bottom: 53.5px;
}

.join-meetup--membership--sign-up--hands-up--drawing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1192px;
  height: 236px;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.08);
}

.membership--sign-up {
  width: 739px;
  height: 164px;
  margin: 36px 0px 36px 56px;
}

.membership--sign-up > h2 {
  width: 168.54px;
  height: 36px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.membership--sign-up > p {
  width: 664.64px;
  height: 56px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.membership--sign-up > button {
  width: 192px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(227, 35, 89, 1);
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.membership--sign-up > img {
  width: 341px;
  height: 196px;
  margin: 20px 56px 20px 0px;
}

.explore-top-categories--links > h2 {
  width: 312.39px;
  height: 36px;
  margin-top: 64px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.categories-links {
  margin-top: 24px;
}
.categories-links > a {
  width: 135px;
  height: 112px;
  margin-right: 10.5px;
  border-radius: 8px;
}

.popular-cities-on-meetup-links > h2 {
  width: 341.67px;
  height: 36px;
  margin-top: 46px;
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.popular-cities-on-meetup-links > p {
  width: 830.7px;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(112, 112, 112, 1);
}

.cities--links {
  display: grid;
  grid-template-columns: repeat(5, 205px);
  justify-items: center;
  margin-top: 28px;
  grid-column-gap: 41.75px;
  grid-row-gap: 24px;
  cursor: pointer;
}

.button-padding {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
}

.how-meetup-works > h2 {
  width: 262.9px;
  height: 36px;
  margin-top: 64px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.discover-events--start-group--flex {
  display: flex;
  gap: 32px;
}

.discover-events-and-groups,
.start-a-group-to-host-events {
  display: flex;
  width: 580px;
  height: 180px;
  margin-top: 24px;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.08);
}

.discover-events-and-groups > img,
.start-a-group-to-host-events > img {
  width: 41px;
  height: 124px;
  margin: 32px 24px 24px 24px;
  padding-bottom: 83px;
}

.inner-block--discover-events-and-groups,
.inner-block--start-a-group-to-host-events {
  width: 379px;
  height: 124px;
  margin: 32px 112px 24px 0px;
}

.inner-block--discover-events-and-groups > h3,
.inner-block--start-a-group-to-host-events > h3 {
  width: 272.03px;
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.inner-block--discover-events-and-groups > p,
.inner-block--start-a-group-to-host-events > p {
  width: 361.98px;
  height: 44px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.inner-block--discover-events-and-groups > a,
.inner-block--start-a-group-to-host-events > a {
  width: 199.84px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(0, 121, 138, 1);
  text-decoration: none;
  cursor: pointer;
}
.friendships-are-made-on-meetup > h2 {
  width: 448.51px;
  height: 36px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.friendships-are-made-on-meetup--learn-how {
  width: 893.45px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(112, 112, 112, 1);
  cursor: pointer;
}

.examples-how-to-use-meetup--greed {
  display: grid;
  grid-template-columns: repeat(3, 376px);
  grid-column-gap: 32px;
  grid-row-gap: 12px;
  margin-top: 28px;
}
.articles-head {
  margin-top: 12px;
  width: 327px;
  height: 56px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  cursor: pointer;
}

.articles-text {
  width: 370.51px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(112, 112, 112, 1);
  text-decoration: none;
  cursor: pointer;
}

.read-more {
  width: 82.72px;
  height: 24px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 121, 138, 1);
  cursor: pointer;
}

footer {
  width: 1512px;
  height: 559px;
  background-color: rgba(33, 33, 33, 1);
}

.footer-block {
  width: 1120px;
  height: 543px;
  margin: 16px 196px 0px 196px;
}

.create-your-own-meetup-group {
  width: 1120px;
  height: 69px;
  margin-top: 8px;
}

.create-your-own-meetup-group > p {
  width: 249.17px;
  height: 24px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(246, 247, 248, 1);
}

.create-your-own-meetup-group > hr {
  width: 1120px;
  height: 69px;
  border: 1px solid;
  color: rgba(112, 112, 112, 1);
}
