* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 204px;
  margin-right: 204px;
  width: 1920px;
  height: 3826.5px;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  width: 1512px;
  height: 64px;
  /* background-color: #f0f0f0; */
  /* gap: 40px; */
}

.search-panel {
  display: flex;
  justify-self: start;
  width: 750.34px;
  height: 42px;
  top: 11px;
  margin-right: 470.66px;
}

.logo img {
  width: 94.34px;
  height: 34px;
  left: 24px;
  top: 15px;
  right: 40px;
  margin-left: 24px;
  margin-top: 4px;
  margin-right: 40px;
}

.search-bar input[type="text"] {
  padding-left: 37px;
  width: 300px;
  height: 42px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #d9d9d9;
  /* left: 158.34px; */
  background-image: url("/JsProject/assets/images/searchIcon.svg");
  background-repeat: no-repeat;
  background-position: 12.75px;
  background-size: auto;
}

.search-location input[type="text"] {
  padding: 8px;
  width: 254px;
  height: 42px;
  /* border-radius: 8px 0px 0px 8px; */
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-left: none;
  /* left: 158.34px; */
  /* background-image: url("/JsProject/assets/images/searchIcon.svg"); */
  /* background-repeat: no-repeat;
  background-position: 12.75px;
  background-size: auto; */
}

.search-magnifier-red {
  width: 42px;
  height: 42px;
  background-color: #f65858;
  border-radius: 0px 8px 8px 0px;
  background-image: url("/JsProject/assets/images/magnifierIconRedBtn.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.search-bar button {
  padding: 8px 12px;
  width: 83.13px;
  height: 36px;
  top: 14px;
  background-color: #00798a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.language-selector select {
  padding-left: 30px;
  border: none;
  background-image: url("/JsProject/assets/images/lenguageGlobeIcon.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  margin-right: 22.03px;
}

.signUpBtn {
  /* padding: 8px 12px; */
  width: 83.13px;
  height: 36px;
  top: 14px;
  background-color: #00798a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logInBtn {
  width: 41.17px;
  height: 20px;
  top: 22px;
  border: none;
  margin-right: 1.83px;
  background-color: transparent;
}

.meetup-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1196px;
  height: 461px;
  left: 362px;
}

.meetup-info img {
  width: 379px;
  height: 269px;
  top: 96px;
  left: 655.08px;
}

.meetup-text {
  flex: 1;
}

.meetup-text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  width: 600.61px;
  height: 104px;
}

.meetup-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 608.93px;
  height: 72px;
  top: 226.5px;
  margin-top: 24.5px;
}

.meetup-text button {
  width: 125.28px;
  height: 40px;
  top: 322.5px;
  background-color: #00798a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  margin-top: 24px;
}

.top--events_near--section {
  display: flex;
  margin-top: 24px;
}

.top--events_near--section > h2 {
  width: 160.79px;
  height: 36px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-right: 7.8px;
}

.events_near--section--location_search_input {
  background-image: url("/JsProject/assets/images/pen_icon--events_near--section.svg");
  background-repeat: no-repeat;
  background-position: 205.43px;
  width: 239.42px;
  height: 44px;
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.12);
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.top--events_near--section > input::placeholder {
  color: rgba(0, 121, 138, 1);
}

.all_events--link {
  margin-left: 1090.59px;
  margin-top: 14px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 121, 138, 1);
}

#events-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
}

.events-near--card--event-one {
  margin-top: 24px;
  width: 272px;
  height: 399px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.events-near--card--event-one > img {
  width: 272px;
  height: 153px;
}

.events-near--card--event-one > h3 {
  width: 274px;
  height: 48px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 12px;
}

.events-category {
  width: 242.17px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(112, 112, 112, 1);
}

.events-data {
  display: flex;
}

.events-data > img {
  width: 20px;
  height: 20px;
}

.events-data > p {
  width: 180px;
  height: 20px;
  margin-left: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.attendants--tickets {
  display: flex;
}

.attendants--tickets > img {
  width: 20px;
  height: 20px;
  margin-top: 12px;
}

.attendants {
  width: 55.36px;
  height: 24px;
  margin-top: 12px;
  margin-left: 6px;
  margin-right: 15.8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.tickets {
  width: 55.36px;
  height: 33.34px;
  margin-top: 12px;
  margin-left: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
