* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.logo img {
  width: 100px; /* Установите ширину логотипа по вашему усмотрению */
  height: auto;
}

.search-bar input[type="text"] {
  padding: 8px;
  width: 200px; /* Установите ширину поля поиска по вашему усмотрению */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.language-selector select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-actions button {
  padding: 8px 12px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.meetup-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.meetup-info img {
  width: 200px; /* Установите ширину картинки по вашему усмотрению */
  height: auto;
  margin-right: 20px;
}

.meetup-text {
  flex: 1;
}

.meetup-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.meetup-text p {
  font-size: 16px;
  margin-bottom: 20px;
}

.meetup-text button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
